@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  body {
    overflow: auto;
    @apply bg-gray-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-200;
  }
}