@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

body {
  overflow: auto;
}